.container {
  width: 100%;
  height: 100%;

  .input-container {

    .canvas-container {
      width: 282px;
      margin: 0 auto 20px;
  
      .title {
        text-align: center;
        margin: 10px 0;
      }
  
      canvas {
        margin: auto;
        border: 1px solid black;
      }
    }
  
    .divider {
      display: flex;
      justify-content: space-between;
  
      .mat-divider {
        position: static;
        border-color: black;
        width: 100%;
        height: 0;
        margin: auto 10px;
      }
    }
  
    .image-upload {
      margin: 20px 0;
      display: flex;
      justify-content: center;
  
      button {
        width: 282px;
  
        .text {
          margin-right: 20px;
        }
      }
    }
  }

  .actions-container {
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
  }
}