/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hidden {
  display: none;
}

.custom-dialog {
  position: relative !important;
  width: 400px;
  height: 600px;

  .mat-dialog-container {
    padding-bottom: 0;
    
    .mat-dialog-title {
      margin-bottom: 10px;
    }
  }
}

.testing-dialog {
  .mat-dialog-content {
    max-height: calc(100% - 112px);
  }
}

.statistics-dialog {
  .mat-dialog-content {
    height: 100%;
    max-height: calc(100% - 129px);
  }
}

@media (max-width: 600px) {
  .custom-dialog {
    min-width: 100% !important;
    min-height: 100% !important;
  }

  .mat-expansion-panel-body {
    padding: 0 9px 6px !important;
  }
}
