<button class="close-button" mat-icon-button mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<h3 class="title" mat-dialog-title>Prediction Statistics</h3>
<div class="container" mat-dialog-content>
  <mat-card *ngFor="let prediction of predictions; let i = index" class="stats">
    <img src="{{ imagesURL[i] }}" />
    <div class="bars">
      <div
        class="bar"
        *ngFor="let value of prediction; let label = index"
        [style.height]="value * 100 + '%'"
        [style.margin-top]="100 - value * 100 + 'px'"
      >
        <span class="value">{{(value * 100).toFixed(0) + '%'}}</span>
        <span class="label">{{label}}</span>
      </div>
    </div>
  </mat-card>
</div>
